<div>
    <div class="jumbotron">
        <h1 id="title">Pradz's Eatery</h1>
        <p id="tagline">Tantalize your taste buds..</p>

        <p id="mainButtons">
        <ul class="list-inline intro-social-buttons">
            <li><a href="#/customer" class="btn btn-default btn-lg">Customer</a></li>
            <li><a href="#/ownerLogin" class="btn btn-default btn-lg">Owner</a></li>
        </ul>
        </p>
        <p id="mainButtons"><a id="homeButton" href="#/initial"><i class="fa fa-home fa-3x"></i></a></p>
    </div>
 </div>