<div class="tab-pane" id="tab-contacts">
    <p><h7>CONTACT LIST</h7></p>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Contact" id="inputSearch">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <ul class="pagination pull-right">
        <li><a href="#">&laquo;</a>
        </li>
        <li class="active"><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
        <li><a href="#">5</a>
        </li>
        <li><a href="#">&raquo;</a>
        </li>
    </ul>
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Contact #</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Jack</td>
            <td>9909919999</td>
        </tr>
        <tr>
            <td>Rose</td>
            <td>9909919998</td>
        </tr>
        <tr>
            <td>Thomas</td>
            <td>9909919997</td>
        </tr>
        <tr>
            <td>Percy</td>
            <td>9909919996</td>
        </tr>
        <tr>
            <td>Gordon</td>
            <td>9909919995</td>
        </tr>
        <tr>
            <td>Peter</td>
            <td>9909919994</td>
        </tr>
        <tr>
            <td>Emily</td>
            <td>9909919993</td>
        </tr>
        <tr>
            <td>Sandeep Dussa</td>
            <td>9909919999</td>
        </tr>
        </tbody>
    </table>
</div>