<!--reservations tab content-->
<div class="tab-pane" id="reservations-tab">
    <p><h7>RESERVATION LIST</h7></p>
    <!--Search Bar-->
    <form role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    <!--Pagination-->
    <ul class="pagination pull-right">
        <li><a href="#">&laquo;</a>
        </li>
        <li><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
        <li><a href="#">5</a>
        </li>
        <li><a href="#">&raquo;</a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>CNF#</th>
                <th>Name</th>
                <th>Date</th>
                <th>#People</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>#A12B3#</td>
                <td>Prudhvi Chandra</td>
                <td>06/01/2015</td>
                <td>5</td>
                <td>
                    <button type="button" class="btn btn-default">
                        <i class="fa fa-info-circle"></i> Details</button>
                </td>
            </tr>
            <tr>
                <td>#A12B3#</td>
                <td>Prudhvi Chandra</td>
                <td>06/01/2015</td>
                <td>5</td>
                <td>
                    <button type="button" class="btn btn-default">
                        <i class="fa fa-info-circle"></i> Details</button>
                </td>
            </tr>
            <tr>
                <td>#A12B3#</td>
                <td>Prudhvi Chandra</td>
                <td>06/01/2015</td>
                <td>5</td>
                <td>
                    <button type="button" class="btn btn-default">
                        <i class="fa fa-info-circle"></i> Details</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>