<!--seating tab content-->
<div class="tab-pane" id="seating-tab">
    <p><h7>SEATING AREA</h7></p>
    <div class = "container">
        <div class="col-xs-12 col-sm-6" id="">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Table#</th>
                    <th>Size</th>
                    <th>Status</th>
                    <th>Since</th>
                    <th>CNF#</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>4</td>
                    <td>Occupied</td>
                    <td>1:30PM</td>
                    <td>
                        <button type="button" class="btn btn-link">DA83CD</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>4</td>
                    <td>Available</td>
                    <td>-</td>
                    <td>
                        <button type="button" class="btn btn-filler"></button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>4</td>
                    <td>Occupied</td>
                    <td>1:30PM</td>
                    <td>
                        <button type="button" class="btn btn-link">DA83CD</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>4</td>
                    <td>Occupied</td>
                    <td>1:30PM</td>
                    <td>
                        <button type="button" class="btn btn-link">DA83CD</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>4</td>
                    <td>Available</td>
                    <td>-</td>
                    <td>
                        <button type="button" class="btn btn-filler"></button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>4</td>
                    <td>Occupied</td>
                    <td>1:30PM</td>
                    <td>
                        <button type="button" class="btn btn-link">DA83CD</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--seating table's space div-->
        </div>

        <div class="col-sm-6">
            <div class = "container">
                <div class="col-md-4">
                    <div class="occupied-table img-rounded">
                        <p>Table 1</p>
                        <p>Occupied</p>
                        <p>
                            <button type="button" class="btn btn-link">#A12B3#</button>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="occupied-table img-circle">
                        <p>Table 2</p>
                        <p>Occupied</p>
                        <p>
                            <button type="button" class="btn btn-link">#A12B3#</button>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="occupied-table img-rounded">
                        <p>Table 3</p>
                        <p>Occupied</p>
                        <p>
                            <button type="button" class="btn btn-link">#A12B3#</button>
                        </p>
                    </div>
                </div>
                <!--table side container div-->
            </div>
            <!--table side space div-->
        </div>
    </div>
    <!--seating tab div-->
</div>