<div class="tab-pane" id="tab-settings">
    <p><h7>APPLICATION SETTINGS</h7></p>
    <form role="form">
        <div class="form-group">
            <label for="days">Opening Days</label>
            <input type="text" class="form-control" id="days" placeholder="Mon-Fri">
        </div>
        <div class="form-group">
            <label for="closingDays">Closing Days</label>
            <input type="text" class="form-control" id="closingDays" placeholder="Sat,Sun">
        </div>
        <div class="form-group">
            <label for="auto">Auto Assign
                <input type="checkbox" id="auto">
            </label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn large-btn btn-default">Save</button>
            <button type="submit" class="btn large-btn btn-default">Cancel</button>
        </div>
    </form>
</div>